/* src/components/GameIframe.css */
.iframe-container {
    width: 80%; /* Le da un ancho fijo al contenedor */
    max-width: 400px; /* Limita el tamaño máximo */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px;
}

.game-iframe {
    width: 100%;
    height: 500px;
}